name: Bump clang-tools binaries version
on:
  push:
    branches:
      - "main"
  workflow_dispatch:

jobs:
  bump_version:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  #v5

    - name: Set up Python
      uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 #v5
      with:
        python-version: '3.x'

    - name: Install dependencies
      run: pip install requests

    - name: Bump version
      id: bump
      run: |
        cd .github/workflows
        bump_tag=`python3 bump-version.py`
        echo "bump_tag=$bump_tag" >> $GITHUB_OUTPUT

        cd ${{ github.workspace }}

        if git diff --exit-code; then
          echo "No changes detected."
          exit 0
        fi

    - name: Create Pull Request
      uses: peter-evans/create-pull-request@271a8d0340265f705b14b6d32b9829c1cb33d45e  #v7
      with:
        add-paths: "clang_tools/__init__.py"
        commit-message: "chore: bump clang-tools-static-binaries to ${{ steps.bump.outputs.bump_tag }}"
        title: "Bump cpp-linter/clang-tools-static-binaries to ${{ steps.bump.outputs.bump_tag }}"
        body: |
          Bump [cpp-linter/clang-tools-static-binaries](https://github.com/cpp-linter/clang-tools-static-binaries/releases) to `${{ steps.bump.outputs.bump_tag }}`
          - This PR was auto-generated by [create-pull-request][1]

          [1]: https://github.com/peter-evans/create-pull-request
        base: main
        labels: dependencies
        branch: bump-clang-tools-static-binaries-version
        delete-branch: true
